<header class="container mx-auto">
  <%= live_component @socket, ExquiLive.MenuComponent, id: "menu", current_path: @current_path %>
</header>

<section class="container mx-auto">
  <%= @inner_content %>
</section>
